<div class="form-container">
  <h2>Create Student</h2>

  <form [formGroup]="studentForm">

    <input type="text" placeholder="First Name" formControlName="first_name">
    <div *ngIf="studentForm.get('first_name')?.touched && studentForm.get('first_name')?.invalid">
      First name is required
    </div>

    <input type="text" placeholder="Last Name" formControlName="last_name">
    <div *ngIf="studentForm.get('last_name')?.touched && studentForm.get('last_name')?.invalid">
      Last name is required
    </div>

    <input type="email" placeholder="Email" formControlName="email">
    <div *ngIf="studentForm.get('email')?.touched && studentForm.get('email')?.invalid">
      Valid email is required
    </div>

    <input type="number" placeholder="Age" formControlName="age">
    <input type="text" placeholder="Course" formControlName="course">
    <input type="number" placeholder="Year Level" formControlName="year_level">
    <input type="number" placeholder="GAP" formControlName="gap">

    <button type="button" (click)="createStudent()">Create Student</button>

  </form>
</div>
